* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000000;
}
.main {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}
.first {
  width: 15%;
  /* position: fixed; */
  animation: marquee 20s linear infinite;
}
.marquee-1 {
  display: flex;
  justify-content: center;
}
.img {
  margin-bottom: 40px;
}
/* .first img {
  animation: marquee 1s linear infinite;
} */
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -100%);
  }
}
.second {
  width: 70%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./images/card_back.jpg");
  background-color: #800000;
}

.name {
  font-size: 26px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 40px 0 40px 0;
  color: #ffffff;
}
.wish {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}
.img-1 {
  margin-bottom: 45px;
}
.img-2 {
  margin-bottom: 45px;
}
.text-1 {
  margin: 25px 0 0 0;
}
.text-2 {
  margin: 20px 0;
}
.text-3 {
  margin: 5px 0 0 0;
}
.btn {
  font-size: 20px;
  font-weight: 800;
  background-color: #d80000;
  padding: 12px;
  border-radius: 20px;
  margin: 30px 0 20px 0;
  box-shadow: 8px 4px 138px 15px rgba(255, 0, 0, 1);
}
.third {
  width: 15%;
}
.last-main {
  display: flex;

  justify-content: space-around;
  align-items: center;
  margin: 15px 0;
  position: fixed;
  bottom: 0;
  /* right: 10; */
  width: 100%;
}
.last-f {
  width: 50%;
}
input {
  width: 100%;
  padding: 20px 50px;
  border-radius: 10px;
  background-color: #c71515;
  border: none;
  color: #fff;
  text-transform: uppercase;
  /* font-size: 20px; */
}
input:focus {
  outline: none;
}
::placeholder {
  /* font-size: 20px; */
  color: #fff;
  font-weight: 700;
  text-align: center;
}
.last-l {
  width: 30%;
}
a {
  padding: 15px;
  /* width: 30%; */
  background-color: #c71515;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
}
a:focus {
  outline: none;
}
.marq {
  width: 500px;
  line-height: 50px;
  background-color: red;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.marq p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
